# Introduction
State notebook purpose here

### Imports
Import libraries and write settings here.

In [3]:
# Data manipulation
import pandas as pd
import numpy as np

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

from IPython import get_ipython
ipython = get_ipython()

# autoreload extension
if 'autoreload' not in ipython.extension_manager.loaded:
    %load_ext autoreload

%autoreload 2

# Visualizations
import matplotlib.pyplot as plt

# Analysis/Modeling
Do work here

In [4]:
!head n5 train.csv

head: n5: No such file or directory
==> train.csv <==

In [5]:
train = pd.read_csv('train.csv', sep=';')
test = pd.read_csv('test.csv', sep=";")

In [7]:
train.head()

,textID,text,selected_text,sentiment,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,088c60f138,my boss is bullying me...,bullying me,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9642c003ef,what interview! leave me alone,leave me alone,negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
test.head()

,textID,text,sentiment,Unnamed: 3
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,NaN
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,NaN
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,NaN
3,01082688c6,happy bday!,positive,NaN
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,NaN

In [18]:
# Percentage null for each columns
(train.isnull().sum()/len(train))*100

textID            0.000000
text              0.021847
selected_text     1.146956
sentiment         1.143315
Unnamed: 4       99.996359
Unnamed: 5       99.989077
Unnamed: 6       99.989077
Unnamed: 7       99.992718
Unnamed: 8       99.992718
Unnamed: 9       99.996359
Unnamed: 10      99.996359
Unnamed: 11      99.996359
Unnamed: 12      99.996359
dtype: float64

In [19]:
(test.isnull().sum()/len(train))*100

textID         0.000000
text           0.000000
sentiment      0.112875
Unnamed: 3    12.864113
dtype: float64

# Results
Show graphs and stats here

# Conclusions and Next Steps
Summarize findings here